{% load static %}

<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title>PickMe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/pickme.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>

      <div id="wrap">
      <!---navbar------------------------------->
        <nav class="navbar navbar-light bg-light fixed-top">
          <div class="container">
            <a class="navbar-brand" href="{% url 'post_list' %}">PickMe</a>
            <ul calss ="navbar_ul">
              <li><a href="{% url 'edit' %}">How to use</a></li>
              <li><a href="{% url 'edit' %}">team</a></li>
              <li><a href="{% url 'edit' %}"><button class="btn btn-sm btn-outline-secondary" type="button">  Remove object</button></a></li>
            </ul>
          </div>
        </nav>
    <!---content1------------------------------>
    <div id = "content1">
      <div class="container">
        <div class="frame">
         <div class="center">
             <div class="title">
                  <h2>Drop file to upload</h2>
             </div>
             <div class="dropzone">
               <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" class="upload-input" name="document">
                    <button type="submit" class="btn2" name="uploadbutton">Upload file</button>
                  </form>
            </div>

            </div>
          </div>
        </div>
      </div>
    <!---content2------------------------------->


    <!---footer---------------------------------->
    <div id = "footer">
      <div class="footer-text"><strong>Pick Me</strong> made by 심봉사</div>
    </div>
   </div>
  </body>
</html>
