{% load static %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title>PickMe</title>
    <link rel="stylesheet" href="{% static 'css/pickme.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

    <link rel= "stylesheet" href="mediaqueries.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div id="wrap">
    <!---navbar------------------------------->

      <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="home.html">PickMe</a>
          <ul calss ="navbar_ul">
            <li><a href="{% url 'edit' %}">How to use</a></li>
            <li><a href="#">team</a></li>
            <li><a href="{% url 'edit' %}"><button class="btn btn-sm btn-outline-secondary" type="button">  Remove object</button></a></li>
          </ul>
        </div>
      </nav>

    <!---content1------------------------------>
    <div id = "content1">
      <div class="container">
      <h2 class = "cotent1_inner_tx">Remove object<br> Using "Deep Learning"</h2>
      <!-- image upload하는 공간 -->
      <div class="image-uploading" style="display:inline-block;">
        <span style="font-size: 4em; color: #D9D9D6; ">
          <i class="fas fa-image"></i><br>
        </span>
        <a href="{% url 'edit' %}"><button type="button" class="btn btn-info">Upload Image</button></a>
      </div>


      </div>
      <!-- <svg viewBox="0 0 100 23 ">
            <path fill="#ffffff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z"></path>
        </svg> -->
        <div class="svg-border-waves text-light">
                            <svg class="wave" style="pointer-events: none" fill="currentColor" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
                                <defs>
                                    <style>
                                        .a {
                                            fill: none;
                                        }
                                        .b {
                                            clip-path: url(#a);
                                        }
                                        .d {
                                            opacity: 0.5;
                                            isolation: isolate;
                                        }
                                    </style>
                                    <clipPath id="a"><rect class="a" width="1920" height="75"></rect></clipPath>
                                </defs>
                                <title>wave</title>
                                <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
                                <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
                                <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
                                <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
                            </svg>
                        </div>
    </div>
    <!---content2------------------------------->
    <div id = "content2">
      <div class="container">
      <div class ="content2-1">
        <h2 class="text2-1 text-center">How to use</h2>
        <div class="inspiration text-center">
          <div class="inspiration-panel">
            <img src = "{% static 'img/img.png' %}">
            <div class = "paneltext ">이미지 선택</div>
          </div>
          <div class= "inspiration-panel">
            <img src = "{% static 'img/img.png' %}">
            <div class = "paneltext">자동 캡셔닝</div>
          </div>
          <div class= "inspiration-panel">
            <img src = "{% static 'img/img.png' %}">
            <div class = "paneltext">지울 객체 선택</div>
          </div>
          <div class= "inspiration-panel">
            <img src = "{% static 'img/img.png' %}">
            <div class = "paneltext">완성</div>
          </div>
        </div>

      </div>

      <div class ="content2-2 ">
        <div class="zxc">No need to manually capture!!!<br>뭐 그런거 강조하는 공간</div>
        <div class="panel text-center">
          <img src = "{% static 'img/img2.png' %}" width="300" height="500">
          <div class = "paneltext">수동으로 캡셔닝하는 불편한 사진 예시</div>
        </div>
      </div>
    </div>
    </div>
    <!---footer---------------------------------->
    <div id = "footer">
      <div class="container">
      <div class="footer-text"><strong>Pick Me</strong> made by 심봉사</div>
    </div>
  </div>

    <!--user icon in two different styles-->
    <!-- <i class="fas fa-user"></i>
    <i class="far fa-user"></i>
    <i class="fal fa-user"></i> -->
    <!--brand icon-->
    <!-- <i class="fab fa-github-square"></i> -->
  </div>
  </body>
</html>
